# Files to be ignored from pushing to github repository

# Logs and output files #
######################
**/logs/
*.log
*.out
*.o
**/result/
**/res/
**/res_linear/
**/dat/
**/RCT_obj/
# *.pdf
*.svg
*.png
*.txt
*.swp
*.rds.gz


# Imported datasets #
######################
**/GDCdata/
# *.csv
*.xlsx
# **/data
**/raw/
/dat/PDS/**
*.RData



# R workspace history #
######################
*.Rhistory
*.radian_history
